.carrusel__img{
    width: 170px;
    height: 250px;
}

.carrusel__item{
    height: 250px;
    width: 170px;
}

.pg{
    font-size: 7px;
}

.ps{
    margin-top: 2px;
}

.carrusel__details{
    top: 170px;
}

.terms{
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    margin-top: 40px;
}

.carrusel{
    padding-bottom: 0%;
}
