.carrusel__img{
    width: 120px;
    height: 190px;
}

.carrusel__item{
    width: 120px;
    height: 190px;
}

.carrusel__details{
    top: 110px;
}

.pg{
    font-size: 6px;
}

.ps{
    margin-top: 2px;
    font-size: 9px;
}

.header__logo{
    height: 65%;
}

.header__perfil{
    display: none;
}

.iron{
    margin-left: 48px;
}

.buscador{
    margin-top: 40px;
}

.buscador__campo{
    font-size: 15px;
    font-weight: bolder;
    height: 40px;
    width: 70%;
    outline: none;
}